LerXML/src/main/resources/exemplo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="livraria">
        <xsd:complexType>
			<xsd:sequence>
				<xsd:element name="livro" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="titulo" type="xsd:string" />
							<xsd:element name="autor" type="xsd:string" />
							<xsd:element name="preco" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
</xsd:schema>


	
